<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Todo App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.10/angular.min.js"></script>
    <style>
        .m-top-5 { margin-top:5px; }
        .m-top-10 { margin-top:10px; }
        .m-top-20 { margin-top:20px; }
        .m-top-50 { margin-top:50px; }
        .m-bot-5 { margin-bottom:5px; }
        .m-bot-10 { margin-bottom:10px; }
        .m-bot-20 { margin-bottom:20px; }
        .completed { text-decoration: line-through; }
    </style>
</head>
<body ng-app="todoApp">
    <div class="container" ng-controller="mainCtrl">
        <div class="row">
            <!--add todo start-->
            <div class="col-sm-12 m-top-50">
                <form name="addTodoForm" ng-submit="addTodo(addTodoForm)" novalidate>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="add">Add:</label>
                        <div class="col-sm-11">
                            <input class="form-control" id="add" placeholder="Create new todo here" ng-model="todo.text" required/>
                        </div>
                    </div>
                </form>
            </div>
            <!--add todo end-->
            <div class="col-sm-12 m-top-50">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="selectAll" ng-change="toggleSelectAll()" ng-disabled="!todoList.length"> Select All</label>
                            <button type="button" class="btn btn-danger pull-right" ng-click="deleteSelected()">Delete Selected</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--todo list start-->
            <div class="col-sm-12 m-top-20">
                <div class="list-group">
                    <div class="col-sm-12" ng-repeat="todo in todoList track by $index">
                            <div class="checkbox col-sm-1">
                                <label><input type="checkbox" ng-model="todo.isSelected" ng-change="toggleSelect(todo.isSelected, $index)"></label>
                            </div>
                        <div class="checkbox list-group-item col-sm-11">
                            <label>
                                <input type="checkbox" ng-model="todo.completed">
                                <span ng-class="{'completed': todo.completed}">{{todo.text}}</span>
                            </label>
                            <span class="glyphicon glyphicon-trash pull-right" ng-click="removeTodo($index)"></span>
                        </div>
                    </div>
                    <div ng-hide="todoList.length">
                        <h3 class="text-center" style="color: gray">There is no more todo's.</h3>
                    </div>
                </div>
            </div>
            <!--todo list end-->
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>